In [8]:
import pandas as pd

g = pd.read_csv("ch6-1.csv")

In [9]:
g.head()

   wing_length  tail_length gender
0           44            9      m
1           42            9      m
2           43            8      m
3           40           10      m
4           44            8      m

In [10]:
g.tail()

    wing_length  tail_length gender
55           43           10      f
56           46           11      f
57           44           11      f
58           45           11      f
59           46           12      f

In [11]:
g.describe()

       wing_length  tail_length
count    60.000000    60.000000
mean     43.833333    10.066667
std       2.248666     1.436411
min      40.000000     8.000000
25%      42.750000     9.000000
50%      44.000000    10.000000
75%      46.000000    11.000000
max      48.000000    12.000000

In [12]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   wing_length  60 non-null     int64
 1   tail_length  60 non-null     int64
 2   gender       60 non-null     object
dtypes: int64(2), object(1)
memory usage: 1.5+ KB

In [13]:
# gender 변수의 m을 1로 f를 0으로 변경
g['gender'] = g['gender'].map({"m": 1, "f": 0})

In [14]:
g.head()

   wing_length  tail_length  gender
0           44            9       1
1           42            9       1
2           43            8       1
3           40           10       1
4           44            8       1

# 핵심 단어는 예측 모델

In [17]:
import statsmodels.api as sm

model_glm = sm.Logit.from_formula('gender ~ wing_length + tail_length', data = g).fit()

Optimization terminated successfully.
         Current function value: 0.137215
         Iterations 9

In [18]:
model_glm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 gender   No. Observations:                   60
Model:                          Logit   Df Residuals:                       57
Method:                           MLE   Df Model:                            2
Date:                Thu, 06 Apr 2023   Pseudo R-squ.:                  0.8020
Time:                        15:37:02   Log-Likelihood:                -8.2329
converged:                       True   LL-Null:                       -41.589
Covariance Type:            nonrobust   LLR p-value:                 3.264e-15
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      70.1955     23.410      2.999      0.003      24.313     116.078
wing_length    -1.0531      0.505     -2.087      0.037      -2.042      -0.064
tail_length    -2.3859      0.969     -2.462      0.014      -4.285      -0.486
===============================================================================
"""

In [19]:
model_glm.params.Intercept

70.19549090131966

In [20]:
model_glm.params.wing_length

-1.053146179694261

In [21]:
model_glm.params.tail_length

-2.3859241165733525

제공받은 데이터, 확률을 숫자로 말하기, 예측 모델

제공받은 데이터로 만든 예측모델을 토대로 병아리의 정보를 넣으면 수컷 몇% 암컷 몇%정도로 예측되어진다

In [23]:
y_prob = model_glm.predict(g.iloc[:, 0:2])

In [24]:
y_prob.head()

0    0.915579
1    0.988904
2    0.997049
3    0.985377
4    0.991588
dtype: float64

In [26]:
y_pred = list(map(round,y_prob))

In [27]:
y_pred[0:5]

[1, 1, 1, 1, 1]

In [28]:
y=g["gender"]

In [31]:
from sklearn.metrics import confusion_matrix

In [32]:
confusion_matrix(y, y_pred, labels = [1,0])

array([[28,  2],
       [ 1, 29]], dtype=int64)

In [34]:
from sklearn.metrics import classification_report

In [35]:
print(classification_report(y,y_pred))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95        30
           1       0.97      0.93      0.95        30

    accuracy                           0.95        60
   macro avg       0.95      0.95      0.95        60
weighted avg       0.95      0.95      0.95        60

    precision : 정밀도
    recall: 재현율
    f1 - score: 분류모델에 사용되는 머신러닝 평가지표 
    support